.card-patient {
  margin-bottom: 12px;
  border-radius: 16px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);

  ion-card-title {
    font-weight: bold;
    font-size: 1.1rem;
  }

  ion-card-subtitle {
    font-size: 0.9rem;
    color: #666;
  }

  ion-badge {
    font-size: 0.85rem;
    padding: 5px 10px;
    border-radius: 12px;
  }
}


.custom-background {
  --background: #f0f8ff; /* bleu très clair par exemple */
}
